name: Continuous Integration Workflow

on: [push]

env:
  example: ${{ vars.ENV_CONTEXT_VAR }}

jobs:
  build-and-test-infrastructure:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v5

      - name: test environment
        run: |
          echo ${{ env.example}}

      # - name: Build and Start LocalStack Container
      #   run: |
      #     docker compose up -d

      # - name: Setup Terraform
      #   uses: hashicorp/setup-terraform@v3
      #   with:
      #     terraform_version: latest

      # - name: Terraform Init and Validation
      #   run: |
      #     terraform init -input=false
      #     terraform validate
      #     terraform fmt -check

      # - name: Terraform Plan
      #   run: |
      #     terraform plan -no-color -input=false
      #   continue-on-error: true

      # - name: Terraform Apply
      #   run: |
      #     terraform apply -auto-approve

  deploy-infrastructure:
    runs-on: ubuntu-latest
    needs: build-and-test-infrastructure
    environment: PROD
    if: false

    steps:
      - uses: actions/checkout@v5

      - name: test environment
        run: |
          echo ${{ env.example}}
