name: Continuous Integration Workflow

on: [push]

env:
  TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
  TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
  TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
  TF_VAR_aws_endpoint_url: ${{ vars.AWS_ENDPOINT_URL }}
  TF_VAR_environment: ${{ vars.ENVIRONMENT }}

jobs:
  build-and-test-infrastructure:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v5

      - name: Build and Start LocalStack Container
        run: |
          docker compose up -d

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init and Validation
        run: |
          terraform init -input=false
          terraform validate
          terraform fmt -check

      - name: Terraform Plan
        run: |
          terraform plan -no-color -input=false

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve

      - name: Stop and Delete LocalStack Container
        if: always()
        run: docker compose down

  deploy-infrastructure:
    runs-on: ubuntu-latest
    needs: build-and-test-infrastructure
    environment: PROD
    # if: false

    steps:
      - uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform Init and Validation
        run: |
          terraform init -input=false
          terraform validate
          terraform fmt -check

      - name: Terraform Plan
        run: |
          terraform plan -no-color -input=false

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve
