name: Continuous Integration Workflow

on: [push]

env:
  TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
  TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
  TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
  TF_VAR_aws_endpoint_url: ${{ vars.AWS_ENDPOINT_URL }}
  TF_VAR_environment: ${{ vars.ENVIRONMENT }}

jobs:
  build-and-test-infrastructure:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v5

      - name: Build and Start LocalStack Container
        run: |
          docker compose up -d

      - name: Backend S3 State Setup
        env:
          AWS_ACCESS_KEY_ID: ${{ env.TF_VAR_aws_access_key }}
          AWS_SECRET_ACCESS_KEY: ${{ env.TF_VAR_aws_secret_key }}
          AWS_DEFAULT_REGION: ${{ env.TF_VAR_aws_region }}
        run: |
          aws --endpoint-url=${{ env.TF_VAR_aws_endpoint_url}} s3 mb s3://dev-terraform-state

      - name: Terraform Setup and Build
        uses: ./.github/actions/terraform
        with:
          backend_config: backend.dev.hcl

      - name: Stop and Delete LocalStack Container
        if: always()
        run: docker compose down

  deploy-infrastructure:
    runs-on: ubuntu-latest
    needs: build-and-test-infrastructure
    environment: PROD
    if: false

    steps:
      - uses: actions/checkout@v5

      - name: Terraform Setup and Build
        uses: ./.github/actions/terraform
