name: Continuous Integration Workflow

on: [push]

env:
  TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
  TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
  TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
  TF_VAR_aws_endpoint_url: ${{ vars.AWS_ENDPOINT_URL }}
  TF_VAR_environment: ${{ vars.ENVIRONMENT }}

jobs:
  build-and-test-infrastructure:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v5

      - name: Build and Start LocalStack Container
        run: |
          docker compose up -d

      - name: Terraform Setup and Build
        uses: ./.github/actions/terraform

      - name: Stop and Delete LocalStack Container
        if: always()
        run: docker compose down

  deploy-infrastructure:
    runs-on: ubuntu-latest
    needs: build-and-test-infrastructure
    environment: PROD

    steps:
      - uses: actions/checkout@v5

      - name: Create HCP Cloud backend config
        run: echo "${{ vars.TF_CLOUD_CONFIGURATION }}" > cloud.tf
        shell: bash

      - name: Terraform Setup and Build
        uses: ./.github/actions/terraform
        with:
          tf_api_token: ${{ secrets.TF_TOKEN }}
